@font-face {
    font-family: lobster;
    src: url(../assets/Fonts/Lobster-Regular.ttf);
}

* {
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: lobster;
}

body {
    font-family: lobster;
    background-color: black;
}