.Drinks-Page {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 90rem;
    z-index: -1;
}

.background {
    min-height: 90rem;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0, .2) 0%, rgb(0, 0, 0) 100%);
    z-index: 1;
}

.page-title {
    display: flex;
    position: relative;
    gap: 1rem;
    color: aliceblue;
    text-shadow: 0 0 .8rem aliceblue;
    font-size: 6rem;
    margin: 2rem;
}

.page-title>p {
    color: red;
    text-shadow: 0 0 .8rem red;
}

.page-title>strong {
    color: rgb(104, 135, 250);
    text-shadow: 0 0 .8rem rgb(104, 135, 250);
}

.pagination {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    position: absolute;
    top: 1.2rem;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    transition: opacity .75s;
}

#back {
    rotate: -30deg;
}

#next {
    rotate: 30deg;
}

.pagination>button {
    background-color: red;
    color: aliceblue;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: .25rem;
    width: 8rem;
    height: 3rem;
    box-shadow: 0 .2rem .5rem -.1rem rgb(60, 60, 60);
}

.pagination>button:hover {
    color: red;
    background-color: aliceblue;
}

.Drinks-Page>section {
    display: flex;
    width: 100%;
}

.drinks-container {
    position: relative;
    overflow: hidden;
    width: 78rem;
    height: 90rem;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 2rem 0 rgb(0, 0, 0, .6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(0px);
    border-radius: 2rem;
    transition: backdrop-filter 2s;
}

.drinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 78rem;
    height: 90rem;
    flex-wrap: wrap;
    perspective: 400rem;
    transition: opacity .75s, transform .75s, translate .75s;
}

.drinksActive {
    transition: opacity .75s, transform 0s, translate .75s;
}

.no-drinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 70rem;
    text-align: center;
    color: aliceblue;
    font-size: 6rem;
}

.no-drinks>p {
    font-size: 2rem;
    text-align: center;
    color: rgb(240, 248, 255, .7);
}

.cart-button {
    background-color: #f0f8ff;
    color: #ff0000;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    width: 11rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    position: absolute;
    left: 52rem;
    top: 1.5rem;
    margin: auto;
    box-shadow: 0 .2rem .5rem -.1rem rgb(60, 60, 60);
    transition: color .2s cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.cart-button:hover {
    color: aliceblue;
    background-color: red;
}

.cart-button:hover img {
    filter: brightness(0) saturate(100%) invert(97%) sepia(24%) saturate(679%) hue-rotate(175deg) brightness(96%) contrast(112%);
}

.cart-button>img {
    height: 2.5rem;
    padding-left: 1rem;
    margin-bottom: .3rem;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(14%) sepia(54%) saturate(7471%) hue-rotate(357deg) brightness(104%) contrast(120%);
    transition: filter .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@media screen and (max-width: 1775px) {
    .drinks {
        width: 52rem;
    }

    .drinks-container {
        width: 52rem;
    }

    .no-drinks {
        font-size: 4rem;
    }

    .no-drinks>p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1375px) {
    .drinks {
        width: 26rem;
    }

    .drinks-container {
        width: 26rem;
    }

    .cart-button {
        left: 49rem;
    }

    .no-drinks {
        font-size: 2.3rem;
    }

    .no-drinks>p {
        font-size: 1.1rem;
    }
}