.DrinkCard {
    position: relative;
    margin: 3rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    height: 38rem;
    width: 20rem;
    box-shadow: 0 0 3rem 0 rgb(0, 0, 0);
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.DrinkCard * {
    cursor: pointer;
}

.DrinkCard-flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

@keyframes card-flip {
    50% {
        scale: 1.1;
    }
}

.card-flip-animation {
    animation-name: card-flip;
    animation-duration: .8s;
}

.inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 2rem;
    padding-top: 1.5rem;
    box-shadow: inset 0 0 .2rem 0 black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.inner>img {
    max-width: 70%;
    min-height: 0;
    border-radius: 1rem;
    box-shadow: 0 .2rem .5rem -.1rem rgb(133, 133, 133);
}

.inner>h1 {
    margin: 1.7rem;
    text-align: center;
    font-size: 2rem;
    color: red;
}

.inner>p {
    font-size: 2.5rem;
    color: rgb(104, 135, 250);
}

.add-button {
    background-color: red;
    color: aliceblue;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: .25rem;
    width: 15rem;
    min-height: 4rem;
    box-shadow: 0 .2rem .5rem -.1rem rgb(60, 60, 60);
    transition: background-color .2s cubic-bezier(0.455, 0.03, 0.515, 0.955), color .2s;
}

.add-button:hover {
    color: aliceblue;
    background-color: rgb(104, 135, 250);
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    background-color: rgb(104, 135, 250);
    padding: .3rem;
    width: 10rem;
    height: 3rem;
    border-radius: 5rem;
    box-shadow: 0 .2rem .5rem -.1rem rgb(133, 133, 133);
}

.counter>span {
    color: aliceblue;
    font-size: 2rem;
}

.counter>button {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    justify-content: center;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
    box-shadow: 0 .2rem .5rem -.1rem rgb(60, 60, 60);
    font-size: 3rem;
    transition: color .3s, background-color .3s;
}

.counter>button:hover {
    background-color: red;
    color: aliceblue;
}

.details {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin: 1.5rem;
}

.details>h3 {
    color: rgb(104, 135, 250);
    cursor: pointer;
    font-size: 1.3rem;
    position: relative;
}

.details>span {
    cursor: pointer;
    font-size: 1.7rem;
    color: red;
    margin-bottom: .2rem;
}

.details>h3::before {
    content: "";
    background-color: red;
    height: 4rem;
    width: 100%;
    height: 3px;
    bottom: -.2rem;
    border-radius: 10rem;
    position: absolute;
    transform-origin: right;
    transform: scaleX(0);
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform .2s;
}

.details>h3:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.recipe-container {
    overflow-y: scroll;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: -1rem;
    border-bottom: .3rem solid red;
    border-top: .3rem solid red;
    border-radius: 1rem;
    box-shadow: 0 .2rem .5rem -.1rem rgb(110, 110, 110);
    background-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.recipe-container::-webkit-scrollbar {
    display: none;
}

.outer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 1.5rem;
    background-color: aliceblue;
    box-shadow: inset 0 0 .2rem 0 black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.outer>h1 {
    font-size: 3.5rem;
    width: 18rem;
    text-align: center;
    margin: 2rem;
    color: red;
}

.ingredients {
    background-color: red;
    color: aliceblue;
    font-size: 2rem;
    border: none;
    border-radius: .25rem;
    padding: 1rem;
    width: 15rem;
    box-shadow: 0 .2rem .5rem -.1rem rgb(60, 60, 60);
}

.ingredients>h1 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: .5rem;
}

.ingredients>ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
}

.ingredients>ul>li {
    display: flex;
    align-items: baseline;
    width: 16rem;
    gap: .5rem;
    font-size: 1.1rem;
}

.ingredients>ul>li>p {
    font-size: 1.4rem;
    color: rgb(104, 135, 250);
    text-shadow: 0 .1rem .2rem rgb(46, 46, 46);
}

.ingredients>ul>li>strong {
    font-size: 2rem;
}

.instructions {
    background-color: rgb(104, 135, 250);
    color: aliceblue;
    font-size: 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: .25rem;
    padding: 1rem;
    width: 15rem;
    box-shadow: 0 .2rem .5rem -.1rem rgb(60, 60, 60);
}

.instructions>h1 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: .5rem;
}

.instructions>p {
    font-size: 1.1rem;
}

.favButton {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
}

.heart {
    height: 3rem;
    width: 3rem;
    z-index: 2;
    scale: 1;
}

.favText {
    opacity: 0;
    position: absolute;
    translate: 0 3.5rem;
    color: aliceblue;
    width: 5.5rem;
    background-color: red;
    text-align: center;
    cursor: default;
    padding: .5rem;
    border-radius: .5rem;
    transition: opacity .2s;
}

.favText::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 50%;
    border-width: 8px;
    margin-right: -8px;
    border-style: solid;
    border-color: transparent transparent red transparent;
}

.heart:hover+.favText {
    opacity: 1;
}

@keyframes heart-animate {
    10% {
        scale: .8
    }

    20% {
        scale: 1.2
    }

    30% {
        scale: .84
    }

    30% {
        scale: 1.16
    }

    40% {
        scale: .88
    }

    50% {
        scale: 1.10;
    }

    60% {
        scale: .92;
    }

    70% {
        scale: 1.04;
    }

    80% {
        scale: .98;
    }

    90% {
        scale: 1.01;
    }
}

.heartAnimation {
    animation-name: heart-animate;
    animation-duration: .5s;
}